@charset "UTF-8";

#board {
	width:80%;
	max-width:750px;
	margin-top:50px;
	margin-left:8%;
	padding:10px;
	border:0px solid #bcbcbc;
	z-index:-1;
}
#side-img {
	position:absolute; right:8%;
	width:130px;
	padding:5px;
	margin-right:10%;
}

#img-list{
	padding:5px;
	border:1px solid #bcbcbc;
	border-radius:10px;
	text-align:center;
	background: #FFFFFFAA;
	overflow-y: auto;
	overflow-x: clip;
	min-height:200px;
	max-height:400px;
}

#img-list::-webkit-scrollbar {
    width:10px;
    margin-left:100px;
 }
 
#img-list::-webkit-scrollbar-thumb {
    background-color: #2f3542;
  }

#imgBrowser{
	display:none;
}

#imgBrowser.active{
	position:absolute;
 	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
	box-sizing: border-box;
	overflow:hidden;
	
	padding:10px;
	background: #FFFFFFAA;
	z-index:10;
	display:block;
	
	text-align:center;
	
}


.button{
	background:#ADD8E6;
	color:white;
	font-size:14pt;
	width:auto;
	padding:5px 20px;
	border:1px solid #bcbcbc;
	border-radius:10px;
}

.button:hover{
	background:#99e0f7;
}

.default{
	border:0px solid; 
	color:black; 
	background:none;
}

input.modify{
	border: 2px solid #000;
	
}

input::file-selector-button {
  margin-left:2px;
  width: 90px;
  height: 25px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
  display:block;
  float:center;

}

input::file-selector-button:hover {
    background: #ADD8E6 ;
    color: #fff;
  }
