@charset "UTF-8";

body {
	margin: 0;
}



/* 
	헤더
		*/

/* 메인 로고 컨테이너 */
#mainLogoContainer {
	float: left;
	padding: 20px 30px;	
}

/* 메인 로고 */
#mainLogo {
	font-size: 1.2em; 
	color: black;
	font-weight: bold;
}

/* 로그인 컨테이너 */
#loginContainer {
	padding: 20px 20px;
	text-align: right;
}

/* 메뉴 컨테이너 */
#menuContainer {
	padding: 25px 30px;	
	font-size: 1.3em;
	font-weight: bold;
	background-color: lightblue;
}

/* 링크 */
a {
	text-decoration: none;
}

.link {
	color: black;
	margin: 5px;
}



/* 
	메인
		*/
		
/* 카테고리 버튼 컨테이너 */
#ctBtnContainer {	
	padding: 20px 20px;
	text-align: center;
}

/* 카테고리 버튼 */
.ctBtn {
	width: 150px;
	height: 150px;
	margin: 20px;
	font-size: 1.3em;
	border: none;
	background-color: lightblue;
	cursor: pointer;
}

.ctBtn:hover {
	transition: all 0.4s;
	background: #9DC0DF;
}

/* 리뷰 컨테이너 */
#reviewContainer {
	padding: 30px 0;
	text-align: center;
	background-color: #F0F0F0;
}



/* 
	Footer
			*/

footer {
	padding: 20px 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 0.5em;
	background-color: #F0F0F0;
}